Bibliotheque_XML/public_html/bibliotheque.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT bibliotheque (allee+)>
<!ELEMENT allee (rayon+)>
<!ELEMENT rayon (ouvrage*)>
<!ELEMENT ouvrage (titre, auteur?)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT auteur (#PCDATA)>
<!ELEMENT type (#PCDATA)>

<!ATTLIST allee numero CDATA #REQUIRED>
<!ATTLIST ouvrage numero CDATA #IMPLIED >
<!ATTLIST rayon numero CDATA #IMPLIED >
<!ATTLIST ouvrage type (  litterature | manuelScolaire | periodique | scienceEtTechnique) "litterature">


