Xml_TD1/public_html/marqueur.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT marqueur (couleur|marque)*>
<!ATTLIST marqueur
    persistence CDATA #IMPLIED
    typePointe CDATA #IMPLIED
  >

<!--- Put your DTDDoc comment here. -->
<!ELEMENT couleur (#PCDATA)>

<!--- Put your DTDDoc comment here. -->
<!ELEMENT marque  (#PCDATA)>
